{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur SymEvents</h1>
        <p class="lead">SymEvents rassemble les plus grands événements organisés en Belgique</p>
        <hr class="my-4">
        <p>Consultez le calendrier et achetez vos places dès maintenant !</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
        </p>
    </div>
    <div class="container">
        <h3>Les derniers événements ajoutés...</h3>
        
    </div>
{% endblock %}
